.about-container {
  color: white;
  background-color: rgba(0, 0, 0, 0.253);

}

.about-container h2,h3 {
  text-align: center;
}

.about {
  display: flex;
  background: url('../assets/images/trang_an_jeff_dam.JPG') no-repeat center center;
  // background-size: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}

.about-content {
  background-color: rgba(0, 0, 0, 0.253);
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
  padding: 30px;
  width: 50%;
  height: 60%;
}

.about-content:after {
  z-index: 1;
}

.teammate {
  display: flex;
  // justify-content: space-between;
  height: 300px;
  margin-bottom: 2px;
}

.teammate-content {
  flex: 1;
}

.social {
  position: relative;
  flex: 1;
  display: flex;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.616);
  flex-direction: column;
  justify-content: space-evenly;
}

.teammate img {
  position: absolute;
  top: 17%;
  right: 10%;
}

.social a {
  margin-left: 20%;
  width: 30px;
}

#jeff {
  // background: url('../assets/images/profile_jeff_dam.jpg') no-repeat right;
}
