.activity-add {
  height: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(228, 228, 228);
  border-radius: 1px;
  transition: 0.3s;

  img {
    height: 15px;
  }

  &:hover {
    opacity: .5;
  }
}

.activity-show-main {
  width: 400px;
  @extend .h4-form;
}

.activity-show-header {
  @extend .flex-row;
  @extend .baseline;
}


.activity-show-datetime {
  @extend .flex-row;
  @extend .left-margin;
  h4 {
    margin-top: 0px;
  }
}

.activity-show-notes {
  white-space: pre-wrap;
}

.grey {
  height: 100%;
  background: $color-light-grey;
}