.header-main {
  background: $color-primary-blue;
}

.header-container {
  padding: 20px 40px;
  @extend .flex-row;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  margin: 0;
  color: white;
}

.session-buttons {
  @extend .flex-row;
}

.session-button {
  width: 100px;
  margin: 0;
  margin-left: 20px;
  border-radius: 3px;
}