.header-main {
  @extend .flex-row;
  background: $color-primary-bluegreen;
  justify-content: flex-end;
}

.header-container {
  max-width: 600px;
  padding: 20px;
}

.session-buttons {
  @extend .flex-row;
}

.session-button {
  width: 100px;
  margin-left: 20px;
}