.session-page {
  @extend .flex-col;
  align-items: center;
  box-sizing: border-box;
  width: 300px;

  li {
    list-style: none inside;
    color: red;
    margin-top: 5px;
  }

  input, button, ul {
    width: 260px;
    box-sizing: border-box;
  }

  input {
    margin: 7.5px 0px;
  }
}

.session-form {
  @extend .flex-col;
  align-items: center;
}