.sidebar-main {
  position: fixed;
  background: $color-primary-blue;
  box-sizing: border-box;
  width: 225px;
  height: 100vh;
  display: flex;
  align-items: stretch;
  overflow-y: auto;
  z-index: 1;
}

.sidebar-main * {
  color: white;
}
.sidebar-main *:hover {
  text-decoration: none;
  color: white;
}

.sidebar-menu {
  padding: 20px 0px;
  @extend .flex-col;
  width: 100%;
}
.sidebar-menu h1 {
  padding: 0 20px;
}

.sidebar-menu-items {
  height: 100%;
  @extend .flex-col;
  justify-content: space-between;
}

.sidebar-menu-item {
  min-height: 30px;
  height: 100%;
  padding: 5px 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.sidebar-menu-item:hover {
  cursor: pointer;
  background: $color-primary-bluegreen;
}

.sidebar-menu-item-logout {
  @extend .sidebar-menu-item;
  height: 30px;
  margin-bottom: 14px;
}

.sidebar-menu-item-countdown:hover {
  cursor: auto;
  background: none;
}

.spacing {
  width: 10px;
  background: white;
}