.sidebar-main {
  position: fixed;
  background: $color-primary-blue;
  box-sizing: border-box;
  width: 225px;
  height: 100%;
  display: flex;
  align-items: stretch;
}

.sidebar-main * {
  color: white;
}
.sidebar-main *:hover {
  text-decoration: none;
  color: white;
}

.sidebar-menu {
  padding: 20px 0px;
  @extend .flex-col;
  width: 100%;
}
.sidebar-menu h1 {
  padding: 0 20px;
}

.sidebar-menu-items {
  height: 100%;
  @extend .flex-col;
  justify-content: space-between;
}

.sidebar-menu-item {
  height: 30px;
  padding: 5px 20px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.sidebar-menu-item:hover {
  background: $color-primary-bluegreen;
}