.sidebar-main {
  position: fixed;
  background: $color-primary-blue;
  box-sizing: border-box;
  width: 225px;
  height: 100vh;
  display: flex;
  align-items: stretch;
  overflow-y: auto;
  z-index: 1;
  box-shadow: 0px 0px 2px grey;
  
  * {
    color: white;
    
    &:hover {
      text-decoration: none;
    }
  }
}

.sidebar-menu {
  @extend .flex-col;
  padding: 20px 0px;
  width: 100%;
}

.sidebar-menu-items {
  @extend .flex-col;
  height: 100%;
  justify-content: space-between;
}

.sidebar-menu-item {
  min-height: 30px;
  padding: 5px 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-shadow: 0px 1px 1px $color-dark-grey;
  transition: 0.3s;
  
  &:hover {
    cursor: pointer;
    background: $color-primary-bluegreen;
  }
}

.sidebar-menu-item-logout {
  @extend .sidebar-menu-item;
  height: 30px;
  margin-bottom: 14px;
  margin-bottom: 0px;
}

.sidebar-menu-item-countdown:hover {
  cursor: auto;
  background: none;
}

.logo {
  cursor: default;
  padding: 0 20px;
  text-shadow: 1px 1px 2px black;
}

.logout-icon {
  height: 15px;
  margin-right: 10px;
  fill: white;
}