.splash {
  background: url("../assets/images/ha_long_bay_jeff_dam.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.splash-text {
  height: calc(100% - 87px);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgba(200, 200, 200, 0.25);
  color: white;
  text-shadow: #000 10px 0 20px;
}

.header-main {
  background: $color-primary-blue;

  button {
    width: 100px;
    margin: 0;
    border-radius: 3px;
  }
}

.header-container {
  @extend .flex-row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

  h1 {
    margin: 0;
    color: white;
  }
}