.trip-dash-main {
  @extend .flex-row;
}

.trip-dash-content {
  position: absolute;
  margin-left: 225px;
  padding: 20px 30px;
  width: calc(100% - 325px);
  min-width: 730px;
}

.trip-dash-header {
  @extend .flex-col;
  align-items: baseline;
}

.trip-logistics-main {
  color: white;
  text-shadow: 0px 1px 1px $color-dark-grey;
  background: $color-primary-blue;
  box-shadow: 1px 1px 5px $color-dark-grey;
  border-radius: 3px;
  padding: 20px;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.trip-logistics-destination-details {
  @extend .flex-row;
  justify-content: space-between;
  color: black;
  text-shadow: none;
  
  p {
    margin: 0;
  }
  
  h4 {
    margin-bottom: 5px;
  }
  
  li {
    @extend .flex-col;
    cursor: pointer;
    min-height: 50px;
    width: 40%;
    background: white;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px $color-dark-grey;
    white-space: pre-wrap;
  }

  li + li {
    margin-left: 10px;
  }
}

.trip-itinerary-main {
  @extend .trip-logistics-main;
  min-width: 730px;
}

.trip-itinerary-header {
  @extend .flex-row;
  justify-content: space-between;
}

.trip-itinerary-date-header {
  @extend .flex-row;
  justify-content: space-between;
  align-items: center;
  
  h4 {
    min-width: 100px;
    width: 13%; 
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 15px;
  }
  
  h4 + h4 {
    margin-left: 5px;
  }
}

.trip-itinerary-activity-lists {
  @extend .flex-row;
  justify-content: space-between;
  color: black;
  text-shadow: none;
  
  > div + div {
    margin-left: 5px;
  }
}

.trip-itinerary-activity-list {
  @extend .flex-col;
  width: 13%; 
  min-height: 100px;
  min-width: 100px;
  background: white;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 1px 1px 2px $color-dark-grey;
}

.trip-activity {
  @extend .flex-col;
  width: 100%;
  transition: 0.3s;
  margin-bottom: 10px;
  
  h5 {
    height: 12pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
  
  &:hover {
    color: $color-grey;
    cursor: pointer;
  }
}

.edit-icon {
  height: 15px;
  cursor: pointer;
  
  &:hover {
    opacity: .5;
  }
}

.add-button {
  @extend .flex-row;
  background: white;
  box-shadow: 1px 1px 2px $color-dark-grey;
  color: black;
  text-shadow: none;
  height: 100%;
  max-width: 137px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;

  img {
    height: 15px;
  }

  &:hover {
    opacity: .60;
  }
}