.trips-dash-main {
  @extend .flex-row;
}

.trips-dash-content {
  position: absolute;
  margin-left: 225px;
  padding: 20px 40px;

  h4 {
    font-size: 11pt;
  }
}

.trips-dash-item-main {
  @extend .flex-col;  
  margin-bottom: 20px;

  h2{
    margin-top: 10px;
  }
}

.trips-dash-item-content {
  @extend .flex-row;
  flex-wrap: wrap;
}

.trips-dash-item {
  @extend .flex-col;
  width: 150px;
  height: 150px;
  border-radius: 3px;
  margin: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: black;
  background: $color-primary-blue;
  color: white;
}

.trips-dash-item-info {
  padding: 10px;
  text-align: center;

  h4 {
    margin: 5px 0 0 0;
  }
}

.trips-dash-item:hover, .trips-dash-item-add:hover {
  opacity: .5;
  text-decoration: none;
}

.trips-dash-item-add {
  @extend .trips-dash-item;
  background: $color-primary-blue;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    filter: brightness(0) invert(1);
    height: 65px;
  }
}



// .sidenav {
//   height: 100%;
//   width: 0;
//   position: fixed;
//   z-index: 1;
//   top: 0;
//   left: 0;
//   background-color: #111;
//   overflow-x: hidden;
//   transition: 0.5s;
//   padding-top: 60px;
// }

// .sidenav a {
//   padding: 8px 8px 8px 32px;
//   text-decoration: none;
//   font-size: 25px;
//   color: #818181;
//   display: block;
//   transition: 0.3s;
// }

// .sidenav a:hover {
//   color: #f1f1f1;
// }

// .sidenav .closebtn {
//   position: absolute;
//   top: 0;
//   right: 25px;
//   font-size: 36px;
//   margin-left: 50px;
// }

// #main {
//   transition: margin-left .5s;
//   padding: 16px;
// }

// @media screen and (max-height: 450px) {
//   .sidenav {padding-top: 15px;}
//   .sidenav a {font-size: 18px;}
// }
