$color-primary-blue: #4DB5C8;
$color-secondary-blue: rgb(82, 202, 223);
$color-primary-blue-hover: rgb(45, 153, 172);
$color-primary-bluegreen: #86E6C8;
$color-primary-beige: #FFF8B8;


$color-dark-grey: rgb(65, 65, 65);
$color-grey: rgb(131, 131, 131);
$color-light-grey: rgb(199, 199, 199);

$color-text-dark-grey: rgb(50, 50, 50);
