#root * {
  font-family: 'Raleway', sans-serif;;
}

p {
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  font-weight: bolder;
  margin-bottom: 15px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

.h4-form {
  h4 {
    margin-bottom: 5px;
    margin-top: 15px;
  }
}

.errors {
  color: red;
  margin-bottom: 5px;
}

.delete {
  display: inline-block;
  color: red;
  cursor: pointer;
  font-size: 12px;
  margin-top: 5px;

  &:hover {
    opacity: .5;
  }
}