#root * {
  font-family: 'Raleway', sans-serif;;
}

p {
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  font-weight: bolder;
  margin-bottom: 15px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

.errors {
  color: red;
  margin-bottom: 5px;
}